@import "base";

body {
    //padding-top: 50px;
}

$header-height: 50px;

#header {
    //background-color: $header-background-color;
    font-color: $font-color;
    .brand {
        font-size: 20px;
        height: $header-height;
    }
}

#left-panel {
    //position: fixed;
    //top: $header-height;;
    left: 0;
    width: 220px;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

#main {
    padding: 20px;

    @media (min-width: 768px) {
        padding-right: 40px;
        padding-left: 40px;
    }

    .page-header {
        margin-top: 0;
    }
}