$background-color: #f8f8f8;
$font-color: #333;

$sidebar-background-color: #f5f5f5;
$sidebar-border-color: #eee;
$sidebar-link-active-color: #fff;
$sidebar-link-active-background-color: #428bca;


/*
@import "compass/reset";
@import "compass/utilities";
*/