<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <facilities>
        <facility id="logging" type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging" loggingApi="log4net" configFile="log.config" />
        <facility id="nhibernate" type="" configFile="nhibernate.config" />
    </facilities>
    <properties>
    </properties>
    <components>
        <!-- Middlewares -->
        <component type="OwinApiHost.Middlewares.ConsoleLogMiddleware,OwinApiHost" />
        <component id="StaticFileOptions" type="Beginor.Owin.StaticFile.StaticFileMiddlewareOptions,Beginor.Owin.StaticFile">
            <parameters>
                <RootDirectory><![CDATA[../www]]></RootDirectory>
                <DefaultFile>index.html</DefaultFile>
            </parameters>
        </component>
        <component service="Microsoft.Owin.Logging.ILoggerFactory,Microsoft.Owin" type="Beginor.Owin.Logging.CastleLoggerFactory,Beginor.Owin.Logging" inspectionBehavior="declaredonly" />
        <component service="System.Web.Http.ExceptionHandling.IExceptionLogger,System.Web.Http" type="Beginor.Owin.WebApi.Windsor.CastleExceptionLogger,Beginor.Owin.WebApi.Windsor" inspectionBehavior="declaredonly" />
        <!-- identity message service config -->
        <component id="emailService" service="Microsoft.AspNet.Identity.IIdentityMessageService,Microsoft.AspNet.Identity.Core" type="WebApi.IdentitySupport.EmailService,WebApi" />
        <component id="smsService" service="Microsoft.AspNet.Identity.IIdentityMessageService,Microsoft.AspNet.Identity.Core" type="WebApi.IdentitySupport.SmsService,WebApi" />
        <!-- Controllers -->
        <component type="WebApi.Controllers.CategoriesController,WebApi" lifestyle="transient" />
        <component type="WebApi.Controllers.ProductsController,WebApi" lifestyle="transient" />
        <component type="WebApi.Controllers.AccountController,WebApi" lifestyle="transient" />
    </components>
</configuration>