<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <facilities>
        <facility id="logging"
                  type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging"
                  loggingApi="log4net" configFile="log.config" />
    </facilities>

    <properties>
        <database></database>
    </properties>

    <components>
        <!-- Middlewares -->
        <component type="OwinApiHost.Middlewares.ConsoleLogMiddleware,OwinApiHost" />
        <component id="StaticFileOptions" type="OwinApiHost.Middlewares.StaticFileMiddlewareOptions,OwinApiHost">
            <parameters>
                <RootDirectory><![CDATA[..\www]]></RootDirectory>
                <DefaultFile>index.html</DefaultFile>
            </parameters>
        </component>
        <component type="OwinApiHost.Middlewares.StaticFileMiddleware,OwinApiHost">
            <parameters>
                <options>${StaticFileOptions}</options>
            </parameters>
        </component>
        <!-- Controllers -->
        <component type="WebApi.Controllers.CategoriesController,WebApi" lifestyle="transient"/>
        <component type="WebApi.Controllers.ProductsController,WebApi" lifestyle="transient"/>
    </components>

</configuration>