<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <facilities>
        <facility id="logging"
                  type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging"
                  loggingApi="log4net" configFile="log.config" />
    </facilities>
    

    <properties>
        <database></database>
    </properties>

    <components>
        <component type="WebApi.Controllers.CategoriesController,WebApi" lifestyle="transient"/>
        <component type="WebApi.Controllers.ProductsController,WebApi" lifestyle="transient"/>
    </components>

</configuration>