<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
        <property name="connection.connection_string">Database=AspNetIdentityTest;Data Source=192.168.165.142;User Id=ubuntu;Password=ubuntu;</property>
        <property name="dialect">NHibernate.Dialect.MySQLDialect</property>
        <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="adonet.batch_size">10</property>
        <mapping assembly="Beginor.Owin.Application" />
    </session-factory>
</hibernate-configuration>