<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <facilities>
        <facility id="logging"
                  type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging"
                  loggingApi="log4net" configFile="log.config" />
        <facility id="nhibernate"
                  type="WebApi.NHibernateFacility, WebApi"
                  configFile="hibernate.config" />
    </facilities>
    <properties>
    </properties>
    <components>
        <!-- Middlewares -->
        <component type="WebApi.Middlewares.ConsoleLogMiddleware,WebApi"
                   inspectionBehavior="declaredonly" lifestyle="singleton" />
        <component service="Microsoft.Owin.Security.DataProtection.IDataProtectionProvider, Microsoft.Owin.Security"
                   type="Beginor.Owin.Security.Aes.AesDataProtectionProvider, Beginor.Owin.Security.Aes"
                   inspectionBehavior="declaredonly" lifestyle="singleton">
            <parameters>
                <Key>SGVsbG8sd29ybGQh</Key>
            </parameters>
        </component>
        <!-- static file -->
        <component id="StaticFileOptions"
                   type="Beginor.Owin.StaticFile.StaticFileMiddlewareOptions,Beginor.Owin.StaticFile"
                   inspectionBehavior="declaredonly" lifestyle="singleton">
            <parameters>
                <rootDirectory><![CDATA[../www]]></rootDirectory>
                <defaultFile>index.html</defaultFile>
            </parameters>
        </component>
        <component service="Microsoft.Owin.Logging.ILoggerFactory,Microsoft.Owin"
                   type="Beginor.Owin.Logging.CastleLoggerFactory,Beginor.Owin.Logging"
                   inspectionBehavior="declaredonly" lifestyle="singleton" />
        <component service="System.Web.Http.ExceptionHandling.IExceptionLogger,System.Web.Http"
                   type="Beginor.Owin.WebApi.Windsor.CastleExceptionLogger,Beginor.Owin.WebApi.Windsor"
                   inspectionBehavior="declaredonly" lifestyle="singleton" />
        <!-- identity message service config -->
        <component id="emailService"
                   service="Microsoft.AspNet.Identity.IIdentityMessageService,Microsoft.AspNet.Identity.Core"
                   type="WebApi.IdentitySupport.EmailService,WebApi"
                   inspectionBehavior="declaredonly" lifestyle="singleton"/>
        <component id="smsService"
                   service="Microsoft.AspNet.Identity.IIdentityMessageService,Microsoft.AspNet.Identity.Core"
                   type="WebApi.IdentitySupport.SmsService,WebApi"
                   inspectionBehavior="declaredonly" lifestyle="singleton" />
        <component service="NHibernate.AspNet.Identity.UserStore`1[[WebApi.Data.ApplicationUser,WebApi]],NHibernate.AspNet.Identity"
                   type="WebApi.IdentitySupport.ApplicationUserStore,WebApi"
                   inspectionBehavior="declaredonly" lifestyle="transient">
        </component>
        <component service="NHibernate.AspNet.Identity.RoleStore`1[[WebApi.Data.ApplicationRole,WebApi]],NHibernate.AspNet.Identity"
                   type="WebApi.IdentitySupport.ApplicationRoleStore,WebApi"
                   inspectionBehavior="declaredonly" lifestyle="transient">
        </component>
        <component service="Microsoft.AspNet.Identity.UserManager`1[[WebApi.Data.ApplicationUser,WebApi]],Microsoft.AspNet.Identity"
                   type="WebApi.IdentitySupport.ApplicationUserManager,WebApi"
                   inspectionBehavior="declaredonly" lifestyle="transient">
            <parameters>
                <emailService>${emailService}</emailService>
                <smsService>${smsService}</smsService>
            </parameters>
        </component>
        <!-- Controllers -->
        <component type="WebApi.Controllers.CategoriesController,WebApi"
                   inspectionBehavior="declaredonly" lifestyle="transient" />
        <component type="WebApi.Controllers.ProductsController,WebApi"
                   inspectionBehavior="declaredonly" lifestyle="transient" />
        <component type="WebApi.Controllers.AccountController,WebApi"
                   inspectionBehavior="declaredonly" lifestyle="transient" />
    </components>
</configuration>