<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <facilities>
        <facility id="logging"
                  type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging"
                  loggingApi="log4net" configFile="log.config" />
        <facility id="nhibernate"
                  type="Beginor.Owin.Application.Hibernate.NHibernateFacility, Beginor.Owin.Application"
                  configFile="hibernate.config" />
        <facility id="startable"
                  type="Castle.Facilities.Startable.StartableFacility, Castle.Windsor" />
    </facilities>
    <properties>
    </properties>
    <components>
        <!-- Middlewares -->
        <component service="Microsoft.Owin.Security.DataProtection.IDataProtectionProvider, Microsoft.Owin.Security"
                   type="Beginor.Owin.Security.Aes.AesDataProtectionProvider, Beginor.Owin.Security.Aes"
                   inspectionBehavior="declaredonly" lifestyle="singleton">
            <parameters>
                <Key>SGVsbG8sd29ybGQh</Key>
            </parameters>
        </component>
        <!-- static file -->
        <component id="StaticFileOptions"
                   type="Beginor.Owin.StaticFile.StaticFileMiddlewareOptions,Beginor.Owin.StaticFile"
                   inspectionBehavior="declaredonly" lifestyle="singleton">
            <parameters>
                <rootDirectory><![CDATA[../www]]></rootDirectory>
                <defaultFile>index.html</defaultFile>
                <enableETag>true</enableETag>
                <enableHtml5LocationMode>true</enableHtml5LocationMode>
            </parameters>
        </component>
        <component service="Microsoft.Owin.Logging.ILoggerFactory,Microsoft.Owin"
                   type="Beginor.Owin.Logging.CastleLoggerFactory,Beginor.Owin.Logging"
                   inspectionBehavior="declaredonly" lifestyle="singleton" />
        <component service="System.Web.Http.ExceptionHandling.IExceptionLogger,System.Web.Http"
                   type="Beginor.Owin.WebApi.Windsor.CastleExceptionLogger,Beginor.Owin.WebApi.Windsor"
                   inspectionBehavior="declaredonly" lifestyle="singleton" />
        <!-- identity message service config -->
        <component id="emailService"
                   service="Microsoft.AspNet.Identity.IIdentityMessageService,Microsoft.AspNet.Identity.Core"
                   type="Beginor.Owin.Application.Identity.EmailService, Beginor.Owin.Application"
                   inspectionBehavior="declaredonly" lifestyle="singleton"/>
        <component id="smsService"
                   service="Microsoft.AspNet.Identity.IIdentityMessageService,Microsoft.AspNet.Identity.Core"
                   type="Beginor.Owin.Application.Identity.SmsService, Beginor.Owin.Application"
                   inspectionBehavior="declaredonly" lifestyle="singleton" />
        <component service="NHibernate.AspNet.Identity.UserStore`1[[Beginor.Owin.Application.Data.ApplicationUser, Beginor.Owin.Application]],NHibernate.AspNet.Identity"
                   type="Beginor.Owin.Application.Identity.ApplicationUserStore, Beginor.Owin.Application"
                   inspectionBehavior="declaredonly" lifestyle="transient">
        </component>
        <component service="NHibernate.AspNet.Identity.RoleStore`1[[Beginor.Owin.Application.Data.ApplicationRole, Beginor.Owin.Application]],NHibernate.AspNet.Identity"
                   type="Beginor.Owin.Application.Identity.ApplicationRoleStore, Beginor.Owin.Application"
                   inspectionBehavior="declaredonly" lifestyle="transient">
        </component>
        <component service="Microsoft.AspNet.Identity.UserManager`1[[Beginor.Owin.Application.Data.ApplicationUser, Beginor.Owin.Application]],Microsoft.AspNet.Identity"
                   type="Beginor.Owin.Application.Identity.ApplicationUserManager, Beginor.Owin.Application"
                   inspectionBehavior="declaredonly" lifestyle="transient">
            <parameters>
                <emailService>${emailService}</emailService>
                <smsService>${smsService}</smsService>
            </parameters>
        </component>
        <component type="Beginor.Owin.Application.Identity.ApplicationSignInManager, Beginor.Owin.Application"
                   inspectionBehavior="declaredonly" lifestyle="transient">
        </component>
        <!-- Controllers -->
        <component type="Beginor.Owin.Application.Controllers.AccountController, Beginor.Owin.Application"
                   inspectionBehavior="declaredonly" lifestyle="transient" />
        <component type="Beginor.Owin.Application.Controllers.UsersController, Beginor.Owin.Application"
                   inspectionBehavior="declaredonly" lifestyle="transient" />
    </components>
</configuration>